.gitconfig.local
.vimrc.local
.zshrc.local
config.fish.local
fish_variables
fzf_key_bindings.fish
lazygit/.config/lazygit/state.yml
local/*
lvim/.config/lvim/plugin/packer_compiled.lua
lvim/.config/lvim/session
tmux/.config/tmux/plugins
vim/.netrwhist
vim/bundle
