.gitconfig.local
.vimrc.local
.zshrc.local
brew/Brewfile.lock.json
config.fish.local
fish_variables
fzf_key_bindings.fish
kitty.conf.bak
lazygit/.config/lazygit/state.yml
local/*
startup.conf
tmux/.config/tmux/plugins
vim/.netrwhist
vim/bundle

# Scratchpads for temporary files, notes, and debugging
scratchpads/
